@page
@model MentorSystem.Pages.HomeStudent.IndexModel

<p>
    <a asp-page="../ViewMentor/Index">View Mentor</a><br/>
    <a asp-page="../ViewClass/ViewStudentClass">View Registered Class</a>
</p>


